body {
	background-image:url('greybackgroundcolor.jpg');
    background-repeat:repeat;

}
h1{
	color:white;
	}
.frame {
	position:absolute;
	float:left;
	border:10px ridge #1745E4;
	width:70%;
	}
h2{
    color:white;
}
h2 a{
	
	width:70%;
	font-size:30px;
    background-color:yellow;
}
h2 a:hover {
    background-color: red;
}
.sidebar {
	float:right;
	margin-left:80%;
	margin-right:5px;
	background-color:grey;
	font-size:20px;	
	}
a:link.enterin{
    background-color:grey;
    padding:5px;
}
a:hover.enterin {
    background-color: red;
}
li{
    color:white;
}
.wondersheading{
    text-align: center;
    width:70%;
}
.firstpagelinks{
    text-align: center;
}
